In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('User_Data.csv')
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
x = df[['Age','EstimatedSalary']]
y = df[['Purchased']]

In [4]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [5]:
y.head()

   Purchased
0          0
1          0
2          0
3          0
4          0

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [8]:
from sklearn.svm import SVC

In [9]:
clf = SVC()

In [10]:
clf.fit(x_train,y_train)

c:\Users\Navin Kumaran\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [11]:
y_pred=clf.predict(x_test)

In [12]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_test,y_pred)

0.85

In [15]:
x_test

     Age  EstimatedSalary
188   35            72000
359   42            54000
30    31            74000
205   47            47000
368   38            71000
..   ...              ...
350   38           113000
347   54           108000
382   44           139000
50    24            32000
5     27            58000

[80 rows x 2 columns]

In [17]:
x_train

     Age  EstimatedSalary
190   24            84000
73    33           113000
68    22            63000
157   29            75000
26    49            28000
..   ...              ...
148   29            61000
232   40           107000
117   36            52000
358   40            71000
2     26            43000

[320 rows x 2 columns]

In [19]:
y_test

     Purchased
188          0
359          0
30           0
205          0
368          0
..         ...
350          1
347          1
382          1
50           0
5            0

[80 rows x 1 columns]

In [21]:
y_train

     Purchased
190          0
73           0
68           0
157          0
26           1
..         ...
148          0
232          1
117          0
358          1
2            0

[320 rows x 1 columns]

In [22]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0], dtype=int64)